body {
    background-color: darkblue;
}

p {
    color: aqua;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace;
    border: 10px solid salmon;
    margin: 40px;
    /* margin outside border */
}

h1 {
    color: brown;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans T', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    /* space between border and text */
}