body {
    background-image: url('images/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: brown;
}
.date {
    font-size: 20px;
    font-style: italic;
}

.div1 {
    text-align: center;
    width: 700px;
    height: 900px;
    border: 1px solid violet;
    margin: auto;
    /* if element is NOT 100% wide, use margin auto to center it */
    background-color: burlywood;
}